<body style="background-color:#676db7; color:#FFF;">
<div style="width:980px; margin:0 auto; padding: 50px; border:2px dashed #FFF;"> 
<center>
	<p>Scan this QR Code using the Mobile Bank Application</p>
	<form action="otp/verify" method="POST">
		<p><label for="otp">Input OTP</label></p>
		<p><input type="number" name="otp_key" id="otp" style="color: #000;"></p>
		<p><input type="submit" id="sub_otp" class="btn btn-primary" value="Submit OTP">
	</form>

	<div>
		<ul style="list-style-type: none;">
			<li style="text-align:right;"><a href="<?=$config->http?>atm" class="btn btn-warning">Cancel</a></li>
		</ul>
	</div>
</div>
</center>
</body>
<script>
setTimeout( function(){ 
    // Do something after 3 minutes 
    alert('Session Timed out, Please Try Again');
    window.location.href = "<?=$config->http;?>";
  }  , 180000 );
//180000
</script>