<body style="background-color:#676db7; color:#FFF;">

<div style="width:980px; margin:0 auto; padding: 50px; border:2px dashed #FFF;"> 
	<div>
		<ul style="list-style-type: none;">
			<li><a href="<?=$config->http?>main/atm_qr" class="btn btn-warning">Cardless Transaction</a></li>
			<li style="text-align:right;"><a href="#" class="btn btn-warning">Other Services</a></li>
			<li style="text-align:right;"><a href="<?=$config->http?>" class="btn btn-warning">Exit</a></li>
		</ul>
	</div>
</div>
</body>